
<!---============================ Side  ===================================  -->
<!-- Left side column. contains the sidebar -->

 
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" ng-controller="collapseMenuCtr">
      <!-- Sidebar user panel -->
<!--      <div class="user-panel">-->
<!--        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>-->
<!--        <div class="pull-left info">-->
<!--          <p>Alexander Pierce</p>-->
<!--          <a href="#/"><i class="fa fa-circle text-success"></i> Online</a>-->
<!--        </div>-->
<!--      </div>-->
      <!-- search form -->
<!--      <form action="#/" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>-->
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENU</li>
<!--        <li class="treeview">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-click="$event.preventDefault();">
            <i class="fa fa-dashboard"></i> <span>test</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="#/login"><i class="fa fa-circle-o"></i>Login test</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>-->
        
<!--        <li class="treeview">
          <a href="#/login">
              <i class="fa fa-dashboard"></i>
            <span>Login Test</span>
          </a>
        </li>-->

         <li class="treeview">
          <a href="#/home">
              <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </a>
        </li>

         <li class="treeview">
         <a href="#/">
            <i class="fa fa-bell-o"></i>
            <span>Alerte</span>
          </a>
        </li>


        <li class="treeview">
          <a href="#/ontologie">
            <i class="fa fa-sitemap"></i>
            <span>Ontologie</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="Documents/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="Documents/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="Documents/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="Documents/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#/donneesReport">
            <i class="fa fa-th"></i> <span>Données de Report</span>
          </a>
        </li>
        <li class="treeview">
        <a  ng-click="isSecuriteCollapsed = !isSecuriteCollapsed">
               <i class="fa fa-shield"></i>
               <span>Securite</span>
               <i class="fa fa-angle-left pull-right"></i>
         </a>
         <ul class="treeview-menu" uib-collapse="isSecuriteCollapsed" >
            <li><a href="#/gesUser"><i class="fa fa-circle-o text-aqua"></i>Gestion des Utilisateurs</a></li>
            <li><a href="#/gesAdmin"><i class="fa fa-circle-o text-aqua"></i>Gestion des Administrateurs</a></li>
            <li><a href="#/gesRole"><i class="fa fa-circle-o text-aqua"></i>Role</a></li>
            <li><a href="#/gesGIndividu"><i class="fa fa-circle-o text-aqua"></i>Groupe Individu</a></li>
            <li><a href="#/gesMention"><i class="fa fa-circle-o text-aqua"></i>Mention Responsabilité</a></li>
          </ul>
        </li>
        
        <li class="treeview">
         <a href="#/">
         <i class="fa fa-envelope-o"></i>
            <span>Souscription</span>
          </a>
        </li>
        
        <li class="treeview">
         <a href="#/gesParam">
          <i class="fa fa-circle-o text-aqua"></i>
            <span>Paramètre</span>
          </a>
            
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  

  <!---============================ end Side  ===================================  -->
