
html {
        height: 100%;
}
body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#map-canvas {
        height: 100%;

}


#Container{
     height: 89%;
}


/* General Links */
a {
  color: #3c8dbc;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #72afd2;
}


header {
  
    display: block;
    #color: #ffffff;
    background-color: #3c8dbc;
    border-color: #285E8E;
    height: 50px;
}


header .logo {
  color: #FFF;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
 
}


header .logo .logo-lg {
  display: block;
    
}

header .logo .logo-lg  a{
  
    
    text-decoration: none;
    
}

header a:hover,
a:active,
a:focus{
  
     background-color:  #72afd2;
    text-decoration: none;
    
}

header .nav-menu-rase {
    float: right;
    border:0px red solid;
    height: 50px;
    #width: 340px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-right: 50px;
}


.nav-rase {
    
}



.navbar-nav-rase{
    margin: 0;
    float: left;
    
}

header .nav-menu-rase ul {
    list-style-type: none;
    
}


header .nav-menu-rase  li{
    
    display: block;
    
}


header .nav-menu-rase  li  a {
     display: block;
     line-height: 50px;
    color: whitesmoke;
    #float: left;
    text-align: center;
    text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  overflow: hidden;
  height: 50px;
  #width: 100px;
  cursor: pointer;
 
}

header .nav-menu-rase  li  a:hover {
     background-color:  #72afd2;
      position: relative;
     box-shadow: none;
     border-color: #eee;
     z-index: 8030;
}


header .nav-menu-rase  li  a i {
  margin-right: 5px;
}


header .nav-menu-rase  li  a span {
 
#float: right;

}



/*header .nav-menu-rase li a {
    text-decoration: none ;
    color: whitesmoke;
}*/
/*header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}


header .logo a {
   color: #FFF;
}*/


/*.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}*/


/*.main-header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}*/

/*.main-header .logo a {
   text-decoration: none; 
}*/

.dropdown-menu-rase{
    position: relative;
     box-shadow: none ;
     border-color: #eee;
     margin-top:  5px;
     z-index: 8030;
     width: 450px;
}

.user-header-rase{
    
/*    border: 1px red solid;
    background-color: #3c8dbc;*/

        background:#3276B1;
	background:rgba(0,60,113,0.7);
	border-radius:2px 2px 0 0;
	padding:10px 10px 7px 10px;
	color:#fff;
	font-family:MuseoSlab-300;
	font-weight:normal;
	font-style:normal
}


.user-body-rase{
      border: 0px green solid;
      height: 150px;
      background-color: white;
      padding: 15px;
    
}

.user-footer-rase{
     padding-left:  5px;
     padding-right: 5px;
     padding-bottom: 3px;
     padding-top: 3px; 
     background-color: white;
     height: 58px;
     border: 0px yellow solid;
     border-top: 1px #dddddd solid;
    
}


.user-footer-rase .remember-me{
    color : black;
    font-size: 20px;
}




#carto-table{
     position: absolute;
     background:#3276B1;
     background:rgba(0,60,113,0.7);
     box-shadow: none ;
     z-index: 4030;
     height: 50%;
     bottom: 0;
     width: 100%;
     
     
    
}


#carto-table-head{
    position: relative;
    height: 45px;
    width: 80%; 
    text-align: center;
    font-size: 35px;
    font-weight: 200;
    color: white;
    
}


#carto-table-head span i {
   cursor: pointer;
   width: 50px;
   border: 0px red solid;
  
}


#carto-table-body{
      position: relative;
      padding-top: 15px;
     padding-left: 15px;
     padding-right: 15px;
     padding-bottom:  15px;
    background-color: whitesmoke;
    height: 400px;  
    overflow-y: auto;
}

#carto-table-body thead {
    background-color: black;
    color: white;
}

#carto-table-body tbody  {
    background-color: white;
    font-size: 12px;

}

/*#carto-table-body tbody tr td button{
    height: 25px; 
      width:  35px; 
    padding : 5px;
    text-align: center;
}
#carto-table-body tbody tr td button i {
  height: 10px;
  border: 1px red solid;
  font-size: 9px;

}*/



.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

/*.navbar .nav > li > a {
  color: #ffffff;
}*/

#droite {
        position: absolute;
        margin: 20px;
        right: 0px;
        top: 50px;
        #width: 27%;
}
#droiteLieu {
        position: absolute;
        margin: 20px;
        right: 0px;
        #width: 27%;
}
#search h1 {
        margin-top: 0px;
        text-align: center;
}
#infos_malade h1 {
        text-align: center;
        margin-bottom: 0px;
        bottom: 0;
}


#upSideMap{
     
}

#LimitAdm{
 position: absolute;
 z-index: 1001;
  border:0px red solid;
  margin-left: 120px;
  margin-top: 8px;  
}

#ControlRight{
 position: absolute;
 
  z-index: 1001;
  border:0px red solid;
  margin-left: 50%;
  margin-top: 8px;  
}


.toggle-modal {
	



}
 .beatydialog {
    background: #222222 !important;
     width: 300px;
     height: 200px;
     color: #ffffff;
	filter: alpha(opacity=60);
	-moz-opacity: 0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
     margin-left: 20px;


}
.modal-dialog-left{
    margin-left: 20px;
    margin-top: 22px;
     

}
.scrolling{
    overflow: auto;
}

.green-black{
    width: 15px;
    height: 5px;
    background: #00FF00;
}

.green-light{
    width: 15px;
    height: 5px;
    background: #00FF99;
}

.yellow{
    width: 15px;
    height: 5px;
    background: #FFFF33;
}

.red{
    width: 15px;
    height: 5px;
    background: #FF0000;
}

 
 

.toggle-filter {
    
}

.filter{
    
    
}
 

footer {
  
    display: block;
    color: #FFF;
    background-color: #3276B1;
    border-color: #285E8E;
    height: 38px;
    border-bottom: 8px #285E8E solid; 
}

/* ******* semi-popup******* */

.semi_popup header{
	background:#3276B1;
	background:rgba(0,60,113,0.7);
	border-radius:2px 2px 0 0;
	padding:10px 10px 7px 10px;
	color:#fff;
	font-family:MuseoSlab-300;
	font-weight:normal;
	font-style:normal
}


#close_legend{
	z-index:60;
	display:none;
	position:absolute;
	top:4px;
	right:-25px;
	cursor:pointer
}

.semi_info{
	width:700px;
	padding:20px
}

.semi_popup sup{
	color:#fff
}

#trends_near_you{
	max-height:300px;
	overflow-y:auto
}

.semi_content{
	padding:10px;
	float:left;
	background-color:#fff;
	width:340px
}

#map_icons{
	z-index:15;
	float:right;
	margin-top:25px
}

#add_container{
	margin-right:21px
}









.semi_popup{
	position:absolute;
	margin-bottom:115px;
	top:100px;
	margin-right:40px;
	right:0;
	width:340px;
	height:auto;
	display:none;
	border-radius:0 0 2px 2px;
	padding:20px;
	z-index:1000
}


.map_icons_content{
	position:relative;
	overflow:auto;
	height:inherit;
	width:inherit;
	float:left;
	-webkit-box-shadow:0 0 15px 0 rgba(0,0,0,0.1);
	box-shadow:0 0 15px 0 rgba(0,0,0,0.1)
}

.drag_container header{
	cursor:move
}

#legend_block .drag_container .semi_content .p{
	width:72%;
	float:left;
	margin:0;
	padding:0 4%
}

#legend_content img[src$="lg4_noshadow.png"]{
	margin-left:-1px
}

#toggle_box li{
	list-style-type:none
}

#legend_block table td img{
	vertical-align:middle
}

#legend_block table td{
	width:16%;
	margin:0;
	text-align:center
}

#legend_block table td:last-child{
	width:20%
}

#legend_block table{
	width:100%;
	padding-top:5px
}

#legend_block table td:last-child{
	text-align:right;
	color:#999
}

#legend_block table tr{
	border-top:1px solid #eee
}


/*#SideFilter{
    
}*/


/*#SideFilter button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  
#SideFilter button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }*/